<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>Acesse o Sistema</h1>
            <img src="{{ url_for('static', path='/images/trojan-horse-animate.svg') }}" class="left-login-image" alt="trojan">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                
                {% if error %}
                <div class="error-message">{{ error }}</div>
                {% endif %}
                
                <form method="post" action="/login" class="responsive-form">
                    <div class="textfield">
                        <label for="username">Usuário</label>
                        <input type="text" id="username" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="textfield">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>